@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 0;
  width: 2rem;
}

html, body, #root {
  height: 100%;
}

@layer base {
  body {
    @apply bg-dark-bg-primary;
  }
}